<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>成績編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>成績を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('score.list') }}">成績一覧</a></li>
        <li>成績の編集</li>
    </ul>

    <form action="{{ url_for('score.edit', score_id=score.id) }}" method="post">
        <label>ユーザー:
            <select name="user_id" required>
                {% for user in users %}
                <option value="{{ user.id }}" {% if score.user.id==user.id %}selected{% endif %}>{{ user.name }}
                </option>
                {% endfor %}
            </select>
        </label><br>
        <label>科目:
            <select name="subject_id" required>
                {% for subject in subjects %}
                <option value="{{ subject.id }}" {% if score.subject.id==subject.id %}selected{% endif %}>{{
                    subject.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>点数:
            <input type="number" name="value" value="{{ score.value }}" min="0" max="100" required>
        </label><br>
        <label>実施月:
            <input type="number" name="month" value="{{ score.month }}" min="1" max="12" required>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>

</html>